
@{
    ViewBag.Title = "Index";
}

<button type="button" onclick="OpenModal()">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CloseModal()">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        function OpenModal() {
            $("#myModal").addBack();
            $("#myModal").modal("show");
        }
        function CloseModal() {
            //$("#myModal").remove();
            //$('.modal-backdrop').remove();
            //$('body').removeClass("modal-open");


        }
    </script>    
}

